[
    {
        "code": "TBTC",
        "driver": {
            "code": "tbtc",
            "env": "test",
            "accessToken": "BITGO_ACCESS_TOKEN",
            "walletId": "BITGO_TBTC_WALLET_ID"
        },
        "totalSupply": "1000",
        "stellar": {
            "issuer": "GAIJQAYGJ2TMP7OC5NFBJTPELBHZZJ4LDLTS4JZBV5SMVUKJGKTI4Q3O",
            "name": "",
            "desc": "",
            "image": "",
            "status": "live"
        },
        "distributor": "GAJ4SKSKRWFZVCB5OROZLSWOUC4OEI4QKHV46FDLR3D372KAU3TQEI2X",
        "channels": [
            "GAGQNTK7BR2UBP4Q6PER4ODTMFKO3IURMFRTSEKYEGNCA4QNGEUGKF3K"
        ],
        "deposit": {
            "eta": 1200,
            "min": 0.0001,
            "fee_create": 0.0001,
            "fee_fixed": 0.0,
            "fee_percent": 0.0
        },
        "horizonUrl": "https://horizon-testnet.stellar.org",
        "networkPassphrase": "Test SDF Network ; September 2015",
        "withdrawal": {
            "eta": 1200,
            "min": 0.0001,
            "fee_fixed": 0.0001,
            "fee_percent": 0.001
        },
        "withdrawalBatching": 60000
    }
]
