[
    {
        "code": "TEST",
        "stellar": {
            "issuer": "GC3BW7GQB5ZN5DKEOKS74DVIDMUXMED5FWAFPS7KVOATUJPCH5JDPCM2",
            "name": "",
            "desc": "",
            "image": "",
            "status": "live"
        },
        "distributor": "GCQY4YRFDULPHU7PHCC7QBAD565FCZIG37JYOPZJYFZHMZEQUAXBQENT",
        "channels": [
            "GCLOJDVOWYXHFXXQB5TGQB2VCB2YVAF3KZMUDWADKIGIV7G5IRBG4S6L"
        ],
        "deposit": {
            "eta": 5,
            "min": 0.0001,
            "fee_create": 0.0001,
            "fee_fixed": 0.0001,
            "fee_percent": 0.001
        },
        "withdrawal": {
            "eta": 5,
            "min": 0.0001,
            "fee_fixed": 0.0001,
            "fee_percent": 0.001
        }
    },
    {
        "code": "TBTC",
        "stellar": {
            "issuer": "GAIJQAYGJ2TMP7OC5NFBJTPELBHZZJ4LDLTS4JZBV5SMVUKJGKTI4Q3O",
            "name": "",
            "desc": "",
            "image": "",
            "status": "live"
        },
        "distributor": "GAJ4SKSKRWFZVCB5OROZLSWOUC4OEI4QKHV46FDLR3D372KAU3TQEI2X",
        "channels": [
            "GAGQNTK7BR2UBP4Q6PER4ODTMFKO3IURMFRTSEKYEGNCA4QNGEUGKF3K"
        ],
        "deposit": {
            "eta": 1200,
            "min": 0.0001,
            "fee_create": 0.0001,
            "fee_fixed": 0.0,
            "fee_percent": 0.0
        },
        "withdrawal": {
            "eta": 1200,
            "min": 0.0001,
            "fee_fixed": 0.0001,
            "fee_percent": 0.001
        }
    }
]
